params {

    // Directories
    outdir = "$projectDir/results/"
    refdir = "$projectDir/refs/"
    
    samplesheet = "$projectDir/fullsamplesheet.csv"
    reads = "$projectDir/samples/*.bam"
    index = "/projectnb/bf528/materials/single_cell/refs/refdata-gex-GRCm39-2024-A/"
}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_veryhigh {
                    cpus = 16
                    clusterOptions = "-P bf528 -l mem_per_core=16G"
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

resume = true
